html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 화면 고정 */
  font-family: Arial, sans-serif;
  position: relative;
  background-color: #FFD2AC;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.editor-container {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  box-sizing: border-box;
  padding-top: 20px;
}

/* 사진 프레임 */
.photo-frame {
  width: 390px;
  max-width: 90%;
  height: 520px;
  max-height: 70%;
  border: 4px solid #fff; /* 스티커 사진 느낌 테두리 */
  border-radius: 15px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 하단 메뉴 */
.menu-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

.menu-btn {
  background-color: #FFB4E6;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* 완료 버튼 */
.complete-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  padding: 8px 12px;
  background-color: #AEE7FF;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
