body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #FFD2AC;
  position: relative;
  overflow-x: hidden;
}

/* 회전된 도트 패턴 */
body::before {
  content: "";
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(#F9C08F 15%, transparent 15%);
  background-size: 20px 20px;
  transform: rotate(45deg);
  z-index: -1;
}
