body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Arial', sans-serif;

  /* 배경색 + 땡땡이 패턴 */
  background-color: #FFD2AC;
  background-image: radial-gradient(#F9C08F 10%, transparent 10%);
  background-size: 30px 30px; /* 패턴 간격 */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.logo-image {
  width: 240px; /* 화면에 표시되는 크기 */
  margin-bottom: 50px;
}

.upload-btn {
  width: 180px;
  cursor: pointer;
}

/* 실제 파일 입력 숨기기 */
.hidden-input {
  display: none;
}
