body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #ffebff; /* 연한 핑크 배경 예시 */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.logo-image {
  width: 240px; /* 표시 크기 */
  margin-bottom: 50px;
}

.upload-btn {
  width: 180px;
  cursor: pointer;
}

/* 실제 파일 입력 숨기기 */
.hidden-input {
  display: none;
}
